/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-may-2020, 18:52:21
    Author     : LuisAngel
*/

#principal{
    
    width: 1024px;
    margin: 0 auto;
}


#titulo{
    margin-top: 50px;
    text-align:center; 
    color: white;
}
#usuario{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: auto;
   
    
}
