/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-may-2020, 18:52:21
    Author     : LuisAngel
*/


#principal{
    
    width: 1024px;
    margin: 0 auto;
}


#titulo{
    margin-top: 50px;
    text-align:center; 
    color: white;
}
.usuario {
    width: 360px;
    height: 220px;
    top: 30%;
    left: 38%;
    position: absolute;
    background-color: white;
    border-radius: 8px;
    
 
}

.usuario button{
    border-radius: 10px;
    margin: 10px;
    left: 100%;
    top: 50%;
}

.usuario .enlace{
    left: 38%;
    top: 80%;
    margin: 5px;
    text-align: center;
    position: absolute;
    font-size: 14px;
}

.usuario input{
    margin-top: 5px;
}
.usuario label{
   color: #000000;
   top: 8px;
   padding: 10px;
   
}

